/* Custom Datatable CSS */
.dataTables_wrapper .dataTables_paginate {
  float: none;
  text-align: center;
}
.dataTables_wrapper .dataTables_filter .search-text {
  width: 300px;
}
.dataTables_wrapper .dataTables_filter .input-group label {
  padding-top: 10px;
}

/* Custom bootbox modal */
.bootbox.modal {
  top: 20%;
}
@media screen and (max-width: 767px) {
  .bootbox.modal {
    top: 5%;
  }
}
.bootbox.modal .modal-dialog {
  margin: 30px auto;
}

ul.alert {
  padding-left: 30px;
}

/* Bootstrap Multiselect */
.multiselect-native-select .multiselect-container.dropdown-menu {
  width: 100% !important;
}
.multiselect-native-select .multiselect-container.dropdown-menu label.checkbox input[type=checkbox] {
  opacity: 1;
}
.multiselect-native-select .multiselect-container.dropdown-menu label.radio input[type=radio] {
  opacity: 1;
}
.multiselect-native-select .btn-group {
  width: 100% !important;
}
.multiselect-native-select .btn-group .multiselect {
  width: 100% !important;
}
.multiselect-native-select .btn-group button.multiselect {
  text-align: left;
}
.multiselect-native-select .btn-group button.multiselect::after {
  float: right;
  margin-top: 7px;
}

/* Row Sorter */
table.sorting-table {
  cursor: move;
}

table tr.sorting-row td {
  background-color: #ddd;
}

.left-label {
  display: inline-block;
  font-weight: 500;
  width: 110px;
}

/* Bootbox confirm */
.bootbox-confirm .modal-dialog .modal-content .modal-header {
  padding: 5px 15px;
}
.bootbox-confirm .modal-dialog .modal-content .modal-header .modal-title {
  margin-top: 20px;
}

.tooltip-inner {
  min-width: 100px;
  max-width: 100%;
  opacity: 0.9 !important;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loader.gif") 50% 50% no-repeat #f9f9f9;
  opacity: 1;
}